body {
    background: thistle;
}

main {
    min-height: 80vh;
    width: 75%;
    margin: auto;
    padding: 3em;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #771bf0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2124b6;
}

h1 {
    text-align: center;
}

input {
    border-radius: 20px;
    border: 1px solid #2d9fd9;
    width: 250px;
    height: 30px;
    padding-left: 10px;
}

input:focus {
    outline: none;
}

input,
button,
label,
p {
    font-size: large;
}

.center {
    margin: auto;
    width: fit-content;
}

form.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}